.header {
  margin-bottom: 60px;
  background: var(--background-primary);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__controls {
  margin-left: auto;
}
